$squareSide: 2.8125rem; // li h
$smallLinkHeight: calc($squareSide / 1.25);

$bigIconSide: calc($squareSide / 1.5);
$smallIconSide: calc($squareSide / 2.2);

$sidebarShort: 65px;
$sidebarStandart: 180px;

$searchTop: 110 / 980 * 100%;
$listTop: 285 / 980 * 100%;

$borderRadius: calc($squareSide / 3);

$textColor: #ccc;
$focusColor: #668ecc;
$color-bar-bg: #3c2d3c;
$color-main-bg: #EBE3BE;

//===================================== MIXINS: ==================================

@mixin menu() {
    display: block;
    width: 27px;
    height: 2px;
    background-color: #ccc;
    margin: 0 auto;
    border-radius: 2px;
}

@mixin createBubble() {
    .bubble {
        display: block;
        position: absolute;
        z-index: 99999;

        border-radius: 50%;
        transform: translate(-50%, -50%);

        background-color: darken($textColor, 25);
        opacity: .5;
        animation: bubbleGrowth .8s linear forwards;
    }
}

@mixin resetLink() {
    a {
        text-decoration: none;
        color: #000;
    }
}

@mixin transition($prop) {
    transition: $prop .5s ease;
}

*, *::before, *::after { box-sizing: border-box;}

@mixin margin($searchTop, $listTop, $offset: 5px) {
    .sidebar {
        &--search { top: $searchTop;}

        & .list__wrapper { top: $listTop;}

        &--active {
            .sidebar--search { top: calc($searchTop - $offset);}
        }
    }
}

@mixin positionIcon($amount) {
    @for $i from 0 to $amount {
        .icon--#{$i} {
            left: $sidebarStandart / $amount * ($i + .5) - 5px;
        }
    }
}

@mixin hover() {
    @media (hover: none) {
        &:active { @content;}
    }

    @media (hover: hover) {
        &:hover { @content;}
    }
}

// ==================================Animation block:===============================

@keyframes show {
    0% { left: 40px;}

    40% { left: calc(($sidebarShort + 5px) * 1.5);}

    100% {
        left: calc($sidebarShort + 5px);
        opacity: 1;
    }
}

@keyframes bubbleGrowth {
    from {
        width: 0px;
        height: 0px;
    }
    to {
        width: 1500px;
        height: 1500px;
    }
}

@keyframes glassDelay {
    from { visibility: hidden;}

    to {visibility: visible;}
}

@keyframes trans {
    from { background-color: $color-bar-bg;}
    to { background-color: transparent;}
}

@keyframes modalBlock {
    from {opacity: 0;}
    to {opacity: .5;}
}