body {
    padding: 0;
    margin: 0;
    background-color: #b6a6b6;
    font-size: 16px;
}

main {
    position: absolute;
    left: $sidebarStandart;
    @include transition(left);
    margin-left: 20px;
}

.sidebar {
    position: fixed;
    min-height: 100vh;
    left: 0;
    top: 0;
    z-index: 100;

    width: $sidebarShort;

    background-color: #3c2d3c;
    box-shadow: 1px -1px 7px #000;
    @include transition(width);

    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    &__title {
        opacity: 0;
        position: absolute;
        top: 10px;
        left: 10px;

        margin: 0;
        color: $textColor;
        font-size: 1.4em;
    }

    .author {
        display: flex;
        align-items: center;
        justify-content: space-between;

        position: absolute;
        bottom: 10px;
        left: 0;
        width: 200px;

        color: $textColor;
        font-size: .85em;
        letter-spacing: 0.04em;
        font-weight: 700;

        &__photo {
            margin-left: 10px;
            height: 40px;
            position: absolute;
            cursor: pointer;

            img {
                width: 40px;
                height: 100%;
                border-radius: 40px;
            }
        }

        &__name {
            opacity: 0;
            margin-left: 35%;
        }
    }

    .list__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 64vh;
        margin-top: 100px;
    }

    .icon {
        width: $bigIconSide;
        height: $bigIconSide;

        position: absolute;
        left: calc($sidebarShort / 2 - $bigIconSide / 2);;

        fill: $textColor;
        transition: fill .3s linear;

        &--small {
            left: calc($sidebarShort / 2 - $smallIconSide / 2);;
            width: $smallIconSide;
            height: $smallIconSide;
        }
    }

    &__list { // ul element
        padding: 0;
        margin: 0;
        list-style: none;

        &__item {
            display: flex;
            justify-content: start;
            align-items: center;

            @include resetLink();
            font-size: 0px;
            color: transparent;

            width: $squareSide;
            height: $squareSide;
            margin: 35px auto;
            border-radius: $borderRadius;

            overflow: hidden;
            cursor: pointer;
            transition: background-color .6s linear;

            span {
                display: none;
                width: 100px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                opacity: 0;

                position: absolute;

                background-color: #fff;
                border-radius: 13px;
                box-shadow: 1px 0px 3px #ccc;
                color: #000;
                font-size: 20px;
            }

            &:not(.disable-hover):hover {
                background-color: $textColor;

                .icon { fill: #000;}

                span {
                    display: block;
                    animation: show .7s ease .3s forwards;
                }

            }

            & a:focus {
                transition: none !important;
                color: $focusColor !important;
            }

            & a:focus ~ .icon {
                transition: none;
                fill: $focusColor;
            }

            &:active {
                .bubble { background-color: #000;}
            }
        }

        &--small li {
            margin: 10px auto;
            height: $smallLinkHeight;
        }
    }

    &--search {
        $searchMarginTop: 135px;
        margin: 135px auto 15px;

        .search__text {
            display: none;
            background: transparent;
            border-radius: 20px;
            border: none;
            outline: none;

            height: $squareSide;
            width: 100%;
            padding-left: 60px;
            padding-right: 10px;

            color: $textColor;
            font-size: 1rem;

            @include transition(border);
        }

        .search__confirm {
            position: absolute;
            top: $searchMarginTop + 5px;
            left: 10px;
            z-index: 100;

            width: $squareSide;
            height: $squareSide;
            padding: 0;

            background: none;
            font-size: 0;
            color: transparent;
            border: none;
            outline: none;
            cursor: pointer;

            &:focus + .icon{
                transition: none;
                fill: $focusColor;
            }
        }
    }
}

.sidebar--active {
    width: $sidebarStandart;

    .sidebar__title {
        opacity: 1;
        transition: opacity .1s ease .2s;
    }

    .sidebar--search {
        height: 55px;
        margin-top: 130px;
        & + .list__wrapper { margin-top: 95px;} //margin collapse

        .search__text {
            display: block;
            height: 50px;
            border: 2px solid darken($textColor, 40);

            &:hover { border-color: darken($textColor, 20);}

            &:focus {
                transition: none;
                border-color: $focusColor;
            }

            &:active { border-color: darken($textColor, 20);}
        }
    }

    .sidebar__list {

        &__item {
            font-size: 1.25em;
            width: 93%;
            line-height: $squareSide;
            overflow: hidden;

            a {
                margin-left: 70px;
                color: $textColor;
                transition: color .3s linear;
                outline: none;
            }

            &:not(.disable-hover):hover {
                box-shadow: 1px 0px 3px rgb(196, 194, 194);

                a { color: #000;}

                span { display: none;}
            }
        }

        &--small li {
            font-size: 1em;
            height: $smallLinkHeight;
            line-height: $smallLinkHeight;
        }
    }

    .author__name {
        opacity: 1;
        transition: opacity .1s ease .3s;
    }

    .burger--btn {
        right: 10px;
        transform: none;
        border: none;
    }
}

.burger {

    &--btn {
        position: absolute;
        top: 10px;
        right: 50%;
        transform: translateX(50%);

        border: none;
        background-color: transparent;
        outline: none;

        padding: 11px 8px;
        cursor: pointer;

        @include transition(all);

        &:focus {
            transition: none;
            outline: 2px solid $focusColor;
        }
    }

    &__item {
        @include menu();
        position: relative;

        font-size: 0px;
        color: transparent;

        &::after,
        &::before {
            @include menu();
            content: "";
            position: absolute;
            z-index: 0;
        }

        &::after { top: 7px;}
        &::before { top: -7px;}
    }
}